

/* ---- HERO HOME ---- */

.bg-video{
    min-width: 100vw;
    height: 100vh;
    object-fit: cover;    
}

 .logo-hero{
     width: 500px;
     height: auto;
     left: calc(50% - 250px);
     top: calc(50% - 191px);    
     position: absolute;
 }

 @media (max-width: 1024px){
    .logo-hero{
        width: 60vw;
        height: auto;
        left: calc(50% - 30vw);
        top: calc(50% - 191px);    
        position: absolute;
    }

    .bg-video{
        object-position: center;
        margin-left: -450px;
    }
 }


